

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    background-color: green;
    cursor: pointer;
    border: transparent;
    color: #fff;
    transition: background-color .25s ease-in;
}
.form button:hover {
    background-color: rgb(0, 66, 0);
}
